/* popup.css */

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    width: 300px; /* Fixed width, flexible height */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    overflow: hidden; /* Hide overflow content */
}

hr {
    display: block;
    border-style: solid;
    border-width: 1px;
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#container-info {
    display: none;
}

.container button {
    padding: 5px 10px;
    width: 100%;
}

#token {
    font-family: "Lucida Console", monospace;
    width: 276px;
    padding: 5px;
}

#message {
    padding: 5px;
    overflow-y: auto; /* Scroll if error message is too long */
}
